# explore_data_gov_sg_api

## Purpose:
Explore the weather-related APIs at https://developers.data.gov.sg.

## History:
- 2018-04-18 - Shi Yuan: Removed API Key requirement since Feb 2018, code changes
- 2017-05 - Benjamin S. Grandey
- 2017-05-29 - Moving from atmos-scripts repository to access-data-gov-sg repository, and renaming from data_gov_sg_explore.ipynb to explore_data_gov_sg_api.ipynb.

In [68]:
import matplotlib.pyplot as plt
import pandas as pd
import requests
import seaborn as sns
from tqdm import tqdm

%matplotlib inline

## Meta-data for available meteorological APIs
[I added this section after exploring the wind-speed data - see below.]

In [2]:
# Meteorological variables
for variable in ['rainfall', 'wind-speed', 'wind-direction', 'air-temperature', 'relative-humidity']:
    print(variable)
    r = requests.get('https://api.data.gov.sg/v1/environment/{}'.format(variable))
    metadata = r.json()['metadata']
    for key in metadata.keys():
        if key != 'stations':  # don't print information about stations
            print('  {}: {}'.format(key, r.json()['metadata'][key]))

rainfall
  reading_type: TB1 Rainfall 5 Minute Total F
  reading_unit: mm
wind-speed
  reading_type: Wind Speed AVG(S)10M M1M
  reading_unit: knots
wind-direction
  reading_type: Wind Dir AVG (S) 10M M1M
  reading_unit: degrees
air-temperature
  reading_type: DBT 1M F
  reading_unit: deg C
relative-humidity
  reading_type: RH 1M F
  reading_unit: percentage

## Specify Date

In [95]:
date = '2018-03-24'
datetime = date + ' 00:05:00'
datetime

'2018-03-24 00:05:00'

## Wind-speed (5-min interval)
https://data.gov.sg/dataset/realtime-weather-readings?resource_id=16035f22-37b4-4a5c-b024-ca2381f11b48

In [77]:
pd.date_range(datetime, periods=(24*12+1), freq='5min')

DatetimeIndex(['2017-12-31 00:05:00', '2017-12-31 00:10:00',
               '2017-12-31 00:15:00', '2017-12-31 00:20:00',
               '2017-12-31 00:25:00', '2017-12-31 00:30:00',
               '2017-12-31 00:35:00', '2017-12-31 00:40:00',
               '2017-12-31 00:45:00', '2017-12-31 00:50:00',
               ...
               '2017-12-31 23:20:00', '2017-12-31 23:25:00',
               '2017-12-31 23:30:00', '2017-12-31 23:35:00',
               '2017-12-31 23:40:00', '2017-12-31 23:45:00',
               '2017-12-31 23:50:00', '2017-12-31 23:55:00',
               '2018-01-01 00:00:00', '2018-01-01 00:05:00'],
              dtype='datetime64[ns]', length=289, freq='5T')

In [38]:
# Get wind-speed at 5-min intervals on a specific date
# Note: if 'date' is used instead of 'date_time', the API appears to timeout
wind_speed_df = pd.DataFrame(columns=['station_id', 'wind-speed', 'timestamp (SGT)'])
for dt in pd.date_range(datetime, periods=(24*12+1), freq='5min'):
    r = requests.get('https://api.data.gov.sg/v1/environment/wind-speed',
                     params={'date_time': dt.strftime('%Y-%m-%dT%H:%M:%S')})
    temp_df = pd.DataFrame(r.json()['items'][0]['readings'])
    temp_df = temp_df.rename(columns={'value': 'wind-speed'})
    temp_df['timestamp (SGT)'] = pd.to_datetime(r.json()['items'][0]['timestamp'].split('+')[0])
    wind_speed_df = wind_speed_df.append(temp_df, ignore_index=True)
#wind_speed_df.head(15)

stations_df = pd.DataFrame(r.json()['metadata']['stations'])
stations_df['longitude'] = ''
stations_df['latitude'] = ''

for i in range(0,len(stations_df)):
    stations_df['longitude'][i] = stations_df['location'][i]['longitude']
    stations_df['latitude'][i] = stations_df['location'][i]['latitude']
    
stations_df = stations_df.rename(columns={'id': 'station_id'})
stations_df

,device_id,station_id,location,name,longitude,latitude
0,S109,S109,"{'latitude': 1.3764, 'longitude': 103.8492}",Ang Mo Kio Avenue 5,103.849,1.3764
1,S117,S117,"{'latitude': 1.256, 'longitude': 103.679}",Banyan Road,103.679,1.256
2,S50,S50,"{'latitude': 1.3337, 'longitude': 103.7768}",Clementi Road,103.777,1.3337
3,S107,S107,"{'latitude': 1.3135, 'longitude': 103.9625}",East Coast Parkway,103.963,1.3135
4,S43,S43,"{'latitude': 1.3399, 'longitude': 103.8878}",Kim Chuan Road,103.888,1.3399
5,S106,S106,"{'latitude': 1.4168, 'longitude': 103.9673}",Pulau Ubin,103.967,1.4168
6,S102,S102,"{'latitude': 1.189, 'longitude': 103.768}",Semakau Landfill,103.768,1.189
7,S122,S122,"{'latitude': 1.41731, 'longitude': 103.8249}",Sembawang Road,103.825,1.41731
8,S115,S115,"{'latitude': 1.29377, 'longitude': 103.61843}",Tuas South Avenue 3,103.618,1.29377
9,S24,S24,"{'latitude': 1.3678, 'longitude': 103.9826}",Upper Changi Road North,103.983,1.3678
10,S116,S116,"{'latitude': 1.281, 'longitude': 103.754}",West Coast Highway,103.754,1.281
11,S104,S104,"{'latitude': 1.44387, 'longitude': 103.78538}",Woodlands Avenue 9,103.785,1.44387
12,S100,S100,"{'latitude': 1.4172, 'longitude': 103.74855}",Woodlands Road,103.749,1.4172

In [39]:
# Union of wind-speed and station data
outer_df = pd.merge(wind_speed_df, stations_df, how='outer', on=['station_id'])
outer_df.head(15)

# drop duplicating info columns
outer_wind_speed_df = outer_df.drop(['location','device_id'], axis=1)
outer_wind_speed_df.head(15)

,station_id,wind-speed,timestamp (SGT),name,longitude,latitude
0,S109,5.3,2017-05-24 00:00:00,Ang Mo Kio Avenue 5,103.849,1.3764
1,S109,4.1,2017-05-24 00:05:00,Ang Mo Kio Avenue 5,103.849,1.3764
2,S109,4.7,2017-05-24 00:10:00,Ang Mo Kio Avenue 5,103.849,1.3764
3,S109,6.0,2017-05-24 00:15:00,Ang Mo Kio Avenue 5,103.849,1.3764
4,S109,9.3,2017-05-24 00:20:00,Ang Mo Kio Avenue 5,103.849,1.3764
5,S109,6.4,2017-05-24 00:25:00,Ang Mo Kio Avenue 5,103.849,1.3764
6,S109,2.9,2017-05-24 00:30:00,Ang Mo Kio Avenue 5,103.849,1.3764
7,S109,4.7,2017-05-24 00:35:00,Ang Mo Kio Avenue 5,103.849,1.3764
8,S109,3.1,2017-05-24 00:40:00,Ang Mo Kio Avenue 5,103.849,1.3764
9,S109,7.2,2017-05-24 00:45:00,Ang Mo Kio Avenue 5,103.849,1.3764
10,S109,10.7,2017-05-24 00:50:00,Ang Mo Kio Avenue 5,103.849,1.3764
11,S109,5.8,2017-05-24 00:55:00,Ang Mo Kio Avenue 5,103.849,1.3764
12,S109,4.5,2017-05-24 01:00:00,Ang Mo Kio Avenue 5,103.849,1.3764
13,S109,7.2,2017-05-24 01:05:00,Ang Mo Kio Avenue 5,103.849,1.3764
14,S109,7.4,2017-05-24 01:10:00,Ang Mo Kio Avenue 5,103.849,1.3764

In [67]:
filename = 'wind_speed_{}.csv'.format(date)
filename

outer_wind_speed_df.to_csv(filename, index = False)

In [40]:
# export to csv
#outer_df.to_csv('output.csv', index = False)

In [23]:
#outer_df.info()

In [24]:
#outer_df.groupby('name').describe()

In [17]:
#wind_speed_df.info()

In [18]:
#wind_speed_df.groupby('station_id').describe()

## Rainfall

In [99]:
# Get rainfall at 5-min intervals on a specific date
rainfall_df = pd.DataFrame(columns=['station_id', 'rainfall', 'timestamp (SGT)'])
for dt in tqdm(pd.date_range(datetime, periods=(24*12+1), freq='5min')):  # I remember this was a wet day
    r = requests.get('https://api.data.gov.sg/v1/environment/rainfall',
                     params={'date_time': dt.strftime('%Y-%m-%dT%H:%M:%S')})
    try:
        temp_df = pd.DataFrame(r.json()['items'][0]['readings'])
    except ValueError:
        print('No data JSONDecodeError {}'.format(dt))
        continue
    except KeyError:
        print('No items KeyError {}'.format(dt))
        continue
    temp_df = temp_df.rename(columns={'value': 'rainfall'})
    temp_df['timestamp (SGT)'] = pd.to_datetime(r.json()['items'][0]['timestamp'].split('+')[0])
    rainfall_df = rainfall_df.append(temp_df, ignore_index=True)
#rainfall_df.head()

stations_df = pd.DataFrame(r.json()['metadata']['stations'])
stations_df['longitude'] = ''
stations_df['latitude'] = ''

for i in range(0,len(stations_df)):
    stations_df['longitude'][i] = stations_df['location'][i]['longitude']
    stations_df['latitude'][i] = stations_df['location'][i]['latitude']
    
stations_df = stations_df.rename(columns={'id': 'station_id'})
stations_df

100%|██████████| 289/289 [00:58<00:00,  4.97it/s]

,device_id,station_id,location,name,longitude,latitude
0,S77,S77,"{'latitude': 1.2937, 'longitude': 103.8125}",Alexandra Road,103.812,1.2937
1,S109,S109,"{'latitude': 1.3764, 'longitude': 103.8492}",Ang Mo Kio Avenue 5,103.849,1.3764
2,S117,S117,"{'latitude': 1.256, 'longitude': 103.679}",Banyan Road,103.679,1.256
3,S55,S55,"{'latitude': 1.3837, 'longitude': 103.886}",Buangkok Green,103.886,1.3837
4,S64,S64,"{'latitude': 1.3824, 'longitude': 103.7603}",Bukit Panjang Road,103.76,1.3824
5,S90,S90,"{'latitude': 1.3191, 'longitude': 103.8191}",Bukit Timah Road,103.819,1.3191
6,S61,S61,"{'latitude': 1.323, 'longitude': 103.9217}",Chai Chee Street,103.922,1.323
7,S114,S114,"{'latitude': 1.38, 'longitude': 103.73}",Choa Chu Kang Avenue 4,103.73,1.38
8,S11,S11,"{'latitude': 1.3746, 'longitude': 103.6938}",Choa Chu Kang Road,103.694,1.3746
9,S50,S50,"{'latitude': 1.3337, 'longitude': 103.7768}",Clementi Road,103.777,1.3337
10,S101,S101,"{'latitude': 1.35053, 'longitude': 103.7134}",Corporation Road,103.713,1.35053
11,S118,S118,"{'latitude': 1.2994, 'longitude': 103.8461}",Handy Road,103.846,1.2994
12,S120,S120,"{'latitude': 1.30874, 'longitude': 103.818}",Holland Road,103.818,1.30874
13,S33,S33,"{'latitude': 1.3081, 'longitude': 103.71}",Jurong Pier Road,103.71,1.3081
14,S71,S71,"{'latitude': 1.2923, 'longitude': 103.7815}",Kent Ridge Road,103.781,1.2923
15,S43,S43,"{'latitude': 1.3399, 'longitude': 103.8878}",Kim Chuan Road,103.888,1.3399
16,S66,S66,"{'latitude': 1.4387, 'longitude': 103.7363}",Kranji Way,103.736,1.4387
17,S112,S112,"{'latitude': 1.43854, 'longitude': 103.70131}",Lim Chu Kang Road,103.701,1.43854
18,S07,S07,"{'latitude': 1.3415, 'longitude': 103.8334}",Lornie Road,103.833,1.3415
19,S40,S40,"{'latitude': 1.4044, 'longitude': 103.78962}",Mandai Lake Road,103.79,1.4044
20,S108,S108,"{'latitude': 1.2799, 'longitude': 103.8703}",Marina Gardens Drive,103.87,1.2799
21,S113,S113,"{'latitude': 1.30648, 'longitude': 103.9104}",Marine Parade Road,103.91,1.30648
22,S44,S44,"{'latitude': 1.34583, 'longitude': 103.68166}",Nanyang Avenue,103.682,1.34583
23,S119,S119,"{'latitude': 1.30105, 'longitude': 103.8666}",Nicoll Highway,103.867,1.30105
24,S121,S121,"{'latitude': 1.37288, 'longitude': 103.72244}",Old Choa Chu Kang Road,103.722,1.37288
25,S35,S35,"{'latitude': 1.3329, 'longitude': 103.7556}",Old Toh Tuck Road,103.756,1.3329
26,S29,S29,"{'latitude': 1.387, 'longitude': 103.935}",Pasir Ris Drive 12,103.935,1.387
27,S94,S94,"{'latitude': 1.3662, 'longitude': 103.9528}",Pasir Ris Street 51,103.953,1.3662
28,S78,S78,"{'latitude': 1.30703, 'longitude': 103.89067}",Poole Road,103.891,1.30703
29,S106,S106,"{'latitude': 1.4168, 'longitude': 103.9673}",Pulau Ubin,103.967,1.4168
30,S81,S81,"{'latitude': 1.4029, 'longitude': 103.9092}",Punggol Central,103.909,1.4029
31,S111,S111,"{'latitude': 1.31055, 'longitude': 103.8365}",Scotts Road,103.837,1.31055
32,S900,S900,"{'latitude': 1.41284, 'longitude': 103.86922}",Seletar Aerospace View,103.869,1.41284
33,S102,S102,"{'latitude': 1.189, 'longitude': 103.768}",Semakau Landfill,103.768,1.189
34,S122,S122,"{'latitude': 1.41731, 'longitude': 103.8249}",Sembawang Road,103.825,1.41731
35,S60,S60,"{'latitude': 1.25, 'longitude': 103.8279}",Sentosa,103.828,1.25
36,S46,S46,"{'latitude': 1.3416, 'longitude': 103.8106}",Sime Road,103.811,1.3416
37,S84,S84,"{'latitude': 1.3437, 'longitude': 103.9444}",Simei Avenue,103.944,1.3437
38,S79,S79,"{'latitude': 1.3004, 'longitude': 103.8372}",Somerset Road,103.837,1.3004
39,S92,S92,"{'latitude': 1.2841, 'longitude': 103.7886}",South Buona Vista Road,103.789,1.2841
40,S88,S88,"{'latitude': 1.3427, 'longitude': 103.8482}",Toa Payoh North,103.848,1.3427
41,S123,S123,"{'latitude': 1.3214, 'longitude': 103.8577}",Towner Road,103.858,1.3214
42,S89,S89,"{'latitude': 1.31985, 'longitude': 103.66162}",Tuas Road,103.662,1.31985
43,S115,S115,"{'latitude': 1.29377, 'longitude': 103.61843}",Tuas South Avenue 3,103.618,1.29377
44,S82,S82,"{'latitude': 1.3247, 'longitude': 103.6351}",Tuas West Road,103.635,1.3247
45,S24,S24,"{'latitude': 1.3678, 'longitude': 103.9826}",Upper Changi Road North,103.983,1.3678
46,S69,S69,"{'latitude': 1.37, 'longitude': 103.805}",Upper Peirce Reservoir Park,103.805,1.37
47,S36,S36,"{'latitude': 1.3382, 'longitude': 103.8657}",Upper Serangoon Road,103.866,1.3382
48,S08,S08,"{'latitude': 1.3701, 'longitude': 103.8271}",Upper Thomson Road,103.827,1.3701
49,S116,S116,"{'latitude': 1.281, 'longitude': 103.754}",West Coast Highway,103.754,1.281
50,S104,S104,"{'latitude': 1.44387, 'longitude': 103.78538}",Woodlands Avenue 9,103.785,1.44387
51,S91,S91,"{'latitude': 1.4301, 'longitude': 103.8308}",Yishun Avenue 5,103.831,1.4301

In [96]:
# Get rainfall at 30-min intervals on a specific date
rainfall_df = pd.DataFrame(columns=['station_id', 'rainfall', 'timestamp (SGT)'])
for dt in tqdm(pd.date_range(datetime, periods=(24*(60/30)+1), freq='30min')):  # I remember this was a wet day
    r = requests.get('https://api.data.gov.sg/v1/environment/rainfall',
                     params={'date_time': dt.strftime('%Y-%m-%dT%H:%M:%S')})
    try:
        temp_df = pd.DataFrame(r.json()['items'][0]['readings'])
    except ValueError:
        print('No data JSONDecodeError {}'.format(dt))
        continue
    except KeyError:
        print('No items KeyError {}'.format(dt))
        continue
    temp_df = temp_df.rename(columns={'value': 'rainfall'})
    temp_df['timestamp (SGT)'] = pd.to_datetime(r.json()['items'][0]['timestamp'].split('+')[0])
    rainfall_df = rainfall_df.append(temp_df, ignore_index=True)
#rainfall_df.head()

stations_df = pd.DataFrame(r.json()['metadata']['stations'])
stations_df['longitude'] = ''
stations_df['latitude'] = ''

for i in range(0,len(stations_df)):
    stations_df['longitude'][i] = stations_df['location'][i]['longitude']
    stations_df['latitude'][i] = stations_df['location'][i]['latitude']
    
stations_df = stations_df.rename(columns={'id': 'station_id'})
stations_df

100%|██████████| 49/49 [00:09<00:00,  5.42it/s]

,device_id,station_id,location,name,longitude,latitude
0,S77,S77,"{'latitude': 1.2937, 'longitude': 103.8125}",Alexandra Road,103.812,1.2937
1,S109,S109,"{'latitude': 1.3764, 'longitude': 103.8492}",Ang Mo Kio Avenue 5,103.849,1.3764
2,S117,S117,"{'latitude': 1.256, 'longitude': 103.679}",Banyan Road,103.679,1.256
3,S55,S55,"{'latitude': 1.3837, 'longitude': 103.886}",Buangkok Green,103.886,1.3837
4,S64,S64,"{'latitude': 1.3824, 'longitude': 103.7603}",Bukit Panjang Road,103.76,1.3824
5,S90,S90,"{'latitude': 1.3191, 'longitude': 103.8191}",Bukit Timah Road,103.819,1.3191
6,S61,S61,"{'latitude': 1.323, 'longitude': 103.9217}",Chai Chee Street,103.922,1.323
7,S114,S114,"{'latitude': 1.38, 'longitude': 103.73}",Choa Chu Kang Avenue 4,103.73,1.38
8,S11,S11,"{'latitude': 1.3746, 'longitude': 103.6938}",Choa Chu Kang Road,103.694,1.3746
9,S50,S50,"{'latitude': 1.3337, 'longitude': 103.7768}",Clementi Road,103.777,1.3337
10,S101,S101,"{'latitude': 1.35053, 'longitude': 103.7134}",Corporation Road,103.713,1.35053
11,S118,S118,"{'latitude': 1.2994, 'longitude': 103.8461}",Handy Road,103.846,1.2994
12,S120,S120,"{'latitude': 1.30874, 'longitude': 103.818}",Holland Road,103.818,1.30874
13,S33,S33,"{'latitude': 1.3081, 'longitude': 103.71}",Jurong Pier Road,103.71,1.3081
14,S71,S71,"{'latitude': 1.2923, 'longitude': 103.7815}",Kent Ridge Road,103.781,1.2923
15,S43,S43,"{'latitude': 1.3399, 'longitude': 103.8878}",Kim Chuan Road,103.888,1.3399
16,S66,S66,"{'latitude': 1.4387, 'longitude': 103.7363}",Kranji Way,103.736,1.4387
17,S112,S112,"{'latitude': 1.43854, 'longitude': 103.70131}",Lim Chu Kang Road,103.701,1.43854
18,S07,S07,"{'latitude': 1.3415, 'longitude': 103.8334}",Lornie Road,103.833,1.3415
19,S40,S40,"{'latitude': 1.4044, 'longitude': 103.78962}",Mandai Lake Road,103.79,1.4044
20,S108,S108,"{'latitude': 1.2799, 'longitude': 103.8703}",Marina Gardens Drive,103.87,1.2799
21,S113,S113,"{'latitude': 1.30648, 'longitude': 103.9104}",Marine Parade Road,103.91,1.30648
22,S44,S44,"{'latitude': 1.34583, 'longitude': 103.68166}",Nanyang Avenue,103.682,1.34583
23,S119,S119,"{'latitude': 1.30105, 'longitude': 103.8666}",Nicoll Highway,103.867,1.30105
24,S121,S121,"{'latitude': 1.37288, 'longitude': 103.72244}",Old Choa Chu Kang Road,103.722,1.37288
25,S35,S35,"{'latitude': 1.3329, 'longitude': 103.7556}",Old Toh Tuck Road,103.756,1.3329
26,S29,S29,"{'latitude': 1.387, 'longitude': 103.935}",Pasir Ris Drive 12,103.935,1.387
27,S94,S94,"{'latitude': 1.3662, 'longitude': 103.9528}",Pasir Ris Street 51,103.953,1.3662
28,S78,S78,"{'latitude': 1.30703, 'longitude': 103.89067}",Poole Road,103.891,1.30703
29,S106,S106,"{'latitude': 1.4168, 'longitude': 103.9673}",Pulau Ubin,103.967,1.4168
30,S81,S81,"{'latitude': 1.4029, 'longitude': 103.9092}",Punggol Central,103.909,1.4029
31,S111,S111,"{'latitude': 1.31055, 'longitude': 103.8365}",Scotts Road,103.837,1.31055
32,S900,S900,"{'latitude': 1.41284, 'longitude': 103.86922}",Seletar Aerospace View,103.869,1.41284
33,S102,S102,"{'latitude': 1.189, 'longitude': 103.768}",Semakau Landfill,103.768,1.189
34,S122,S122,"{'latitude': 1.41731, 'longitude': 103.8249}",Sembawang Road,103.825,1.41731
35,S60,S60,"{'latitude': 1.25, 'longitude': 103.8279}",Sentosa,103.828,1.25
36,S46,S46,"{'latitude': 1.3416, 'longitude': 103.8106}",Sime Road,103.811,1.3416
37,S84,S84,"{'latitude': 1.3437, 'longitude': 103.9444}",Simei Avenue,103.944,1.3437
38,S79,S79,"{'latitude': 1.3004, 'longitude': 103.8372}",Somerset Road,103.837,1.3004
39,S92,S92,"{'latitude': 1.2841, 'longitude': 103.7886}",South Buona Vista Road,103.789,1.2841
40,S88,S88,"{'latitude': 1.3427, 'longitude': 103.8482}",Toa Payoh North,103.848,1.3427
41,S123,S123,"{'latitude': 1.3214, 'longitude': 103.8577}",Towner Road,103.858,1.3214
42,S89,S89,"{'latitude': 1.31985, 'longitude': 103.66162}",Tuas Road,103.662,1.31985
43,S115,S115,"{'latitude': 1.29377, 'longitude': 103.61843}",Tuas South Avenue 3,103.618,1.29377
44,S82,S82,"{'latitude': 1.3247, 'longitude': 103.6351}",Tuas West Road,103.635,1.3247
45,S24,S24,"{'latitude': 1.3678, 'longitude': 103.9826}",Upper Changi Road North,103.983,1.3678
46,S69,S69,"{'latitude': 1.37, 'longitude': 103.805}",Upper Peirce Reservoir Park,103.805,1.37
47,S36,S36,"{'latitude': 1.3382, 'longitude': 103.8657}",Upper Serangoon Road,103.866,1.3382
48,S08,S08,"{'latitude': 1.3701, 'longitude': 103.8271}",Upper Thomson Road,103.827,1.3701
49,S116,S116,"{'latitude': 1.281, 'longitude': 103.754}",West Coast Highway,103.754,1.281
50,S104,S104,"{'latitude': 1.44387, 'longitude': 103.78538}",Woodlands Avenue 9,103.785,1.44387
51,S91,S91,"{'latitude': 1.4301, 'longitude': 103.8308}",Yishun Avenue 5,103.831,1.4301

In [26]:
#pd.to_datetime(r.json()['items'][0]['timestamp'].split('+')[0])

In [100]:
rainfall_df['rainfall'] = rainfall_df['rainfall'].astype('float')  # convert to float

# Union of wind-speed and station data
outer_df = pd.merge(rainfall_df, stations_df, how='outer', on=['station_id'])
outer_df.head(15)

# drop duplicating info columns
outer_rainfall_df = outer_df.drop(['location','device_id'], axis=1)
outer_rainfall_df.head(15)

   station_id  rainfall     timestamp (SGT)            name longitude latitude
0         S77       0.0 2018-03-24 00:05:00  Alexandra Road   103.812   1.2937
1         S77       0.0 2018-03-24 00:10:00  Alexandra Road   103.812   1.2937
2         S77       0.0 2018-03-24 00:15:00  Alexandra Road   103.812   1.2937
3         S77       0.0 2018-03-24 00:20:00  Alexandra Road   103.812   1.2937
4         S77       0.0 2018-03-24 00:20:00  Alexandra Road   103.812   1.2937
5         S77       0.0 2018-03-24 00:30:00  Alexandra Road   103.812   1.2937
6         S77       0.0 2018-03-24 00:35:00  Alexandra Road   103.812   1.2937
7         S77       0.0 2018-03-24 00:40:00  Alexandra Road   103.812   1.2937
8         S77       0.0 2018-03-24 00:45:00  Alexandra Road   103.812   1.2937
9         S77       0.0 2018-03-24 00:50:00  Alexandra Road   103.812   1.2937
10        S77       0.0 2018-03-24 00:50:00  Alexandra Road   103.812   1.2937
11        S77       0.0 2018-03-24 01:00:00  Alexandra Road   103.812   1.2937
12        S77       0.0 2018-03-24 01:05:00  Alexandra Road   103.812   1.2937
13        S77       0.0 2018-03-24 01:10:00  Alexandra Road   103.812   1.2937
14        S77       0.0 2018-03-24 01:15:00  Alexandra Road   103.812   1.2937

In [101]:
outer_rainfall_df.describe()

           rainfall
count  14786.000000
mean       0.046612
std        0.456185
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max       11.400000

In [29]:
#rainfall_df.info()

In [30]:
#rainfall_df['rainfall'] = rainfall_df['rainfall'].astype('float')  # convert to float
#rainfall_df.info()

In [84]:
filename = 'rainfall_{}.csv'.format(date)
filename

outer_rainfall_df.to_csv(filename, index = False)

## Temperature

In [42]:
# Get temperature at 5-min intervals on a specific date
temperature_df = pd.DataFrame(columns=['station_id', 'air-temperature', 'timestamp (SGT)'])
for dt in pd.date_range(datetime, periods=(24*12+1), freq='5min'):  # I remember this was a wet day
    r = requests.get('https://api.data.gov.sg/v1/environment/air-temperature',
                     params={'date_time': dt.strftime('%Y-%m-%dT%H:%M:%S')})
    temp_df = pd.DataFrame(r.json()['items'][0]['readings'])
    temp_df = temp_df.rename(columns={'value': 'air-temperature'})
    temp_df['timestamp (SGT)'] = pd.to_datetime(r.json()['items'][0]['timestamp'].split('+')[0])
    temperature_df = temperature_df.append(temp_df, ignore_index=True)
#temperature_df.head()

stations_df = pd.DataFrame(r.json()['metadata']['stations'])
stations_df['longitude'] = ''
stations_df['latitude'] = ''

for i in range(0,len(stations_df)):
    stations_df['longitude'][i] = stations_df['location'][i]['longitude']
    stations_df['latitude'][i] = stations_df['location'][i]['latitude']
    
stations_df = stations_df.rename(columns={'id': 'station_id'})
stations_df

,device_id,station_id,location,name,longitude,latitude
0,S109,S109,"{'latitude': 1.3764, 'longitude': 103.8492}",Ang Mo Kio Avenue 5,103.849,1.3764
1,S117,S117,"{'latitude': 1.256, 'longitude': 103.679}",Banyan Road,103.679,1.256
2,S50,S50,"{'latitude': 1.3337, 'longitude': 103.7768}",Clementi Road,103.777,1.3337
3,S107,S107,"{'latitude': 1.3135, 'longitude': 103.9625}",East Coast Parkway,103.963,1.3135
4,S43,S43,"{'latitude': 1.3399, 'longitude': 103.8878}",Kim Chuan Road,103.888,1.3399
5,S108,S108,"{'latitude': 1.2799, 'longitude': 103.8703}",Marina Gardens Drive,103.87,1.2799
6,S121,S121,"{'latitude': 1.37288, 'longitude': 103.72244}",Old Choa Chu Kang Road,103.722,1.37288
7,S106,S106,"{'latitude': 1.4168, 'longitude': 103.9673}",Pulau Ubin,103.967,1.4168
8,S102,S102,"{'latitude': 1.189, 'longitude': 103.768}",Semakau Landfill,103.768,1.189
9,S122,S122,"{'latitude': 1.41731, 'longitude': 103.8249}",Sembawang Road,103.825,1.41731
10,S115,S115,"{'latitude': 1.29377, 'longitude': 103.61843}",Tuas South Avenue 3,103.618,1.29377
11,S24,S24,"{'latitude': 1.3678, 'longitude': 103.9826}",Upper Changi Road North,103.983,1.3678
12,S116,S116,"{'latitude': 1.281, 'longitude': 103.754}",West Coast Highway,103.754,1.281
13,S104,S104,"{'latitude': 1.44387, 'longitude': 103.78538}",Woodlands Avenue 9,103.785,1.44387
14,S100,S100,"{'latitude': 1.4172, 'longitude': 103.74855}",Woodlands Road,103.749,1.4172

In [43]:
# Union of wind-speed and station data
outer_df = pd.merge(temperature_df, stations_df, how='outer', on=['station_id'])
outer_df.head(15)

# drop duplicating info columns
outer_temperature_df = outer_df.drop(['location','device_id'], axis=1)
outer_temperature_df.head(15)

,station_id,air-temperature,timestamp (SGT),name,longitude,latitude
0,S109,29.3,2017-05-24 00:00:00,Ang Mo Kio Avenue 5,103.849,1.3764
1,S109,29.3,2017-05-24 00:05:00,Ang Mo Kio Avenue 5,103.849,1.3764
2,S109,29.3,2017-05-24 00:10:00,Ang Mo Kio Avenue 5,103.849,1.3764
3,S109,29.3,2017-05-24 00:15:00,Ang Mo Kio Avenue 5,103.849,1.3764
4,S109,29.3,2017-05-24 00:20:00,Ang Mo Kio Avenue 5,103.849,1.3764
5,S109,29.3,2017-05-24 00:25:00,Ang Mo Kio Avenue 5,103.849,1.3764
6,S109,29.3,2017-05-24 00:30:00,Ang Mo Kio Avenue 5,103.849,1.3764
7,S109,29.3,2017-05-24 00:35:00,Ang Mo Kio Avenue 5,103.849,1.3764
8,S109,29.3,2017-05-24 00:40:00,Ang Mo Kio Avenue 5,103.849,1.3764
9,S109,29.3,2017-05-24 00:45:00,Ang Mo Kio Avenue 5,103.849,1.3764
10,S109,29.3,2017-05-24 00:50:00,Ang Mo Kio Avenue 5,103.849,1.3764
11,S109,29.3,2017-05-24 00:55:00,Ang Mo Kio Avenue 5,103.849,1.3764
12,S109,29.2,2017-05-24 01:00:00,Ang Mo Kio Avenue 5,103.849,1.3764
13,S109,29.3,2017-05-24 01:05:00,Ang Mo Kio Avenue 5,103.849,1.3764
14,S109,29.2,2017-05-24 01:10:00,Ang Mo Kio Avenue 5,103.849,1.3764

In [65]:
filename = 'temperature_{}.csv'.format(date)
filename

outer_temperature_df.to_csv(filename, index = False)

In [44]:
#r.json()['items'][0]

## Relative Humidity

In [45]:
# Get relative humidity at 5-min intervals on a specific date
humidity_df = pd.DataFrame(columns=['station_id', 'relative-humidity', 'timestamp (SGT)'])
for dt in pd.date_range(datetime, periods=(24*12+1), freq='5min'):  # I remember this was a wet day
    r = requests.get('https://api.data.gov.sg/v1/environment/relative-humidity',
                     params={'date_time': dt.strftime('%Y-%m-%dT%H:%M:%S')})
    temp_df = pd.DataFrame(r.json()['items'][0]['readings'])
    temp_df = temp_df.rename(columns={'value': 'relative-humidity'})
    temp_df['timestamp (SGT)'] = pd.to_datetime(r.json()['items'][0]['timestamp'].split('+')[0])
    humidity_df = humidity_df.append(temp_df, ignore_index=True)
#humidity_df.head()

stations_df = pd.DataFrame(r.json()['metadata']['stations'])
stations_df['longitude'] = ''
stations_df['latitude'] = ''

for i in range(0,len(stations_df)):
    stations_df['longitude'][i] = stations_df['location'][i]['longitude']
    stations_df['latitude'][i] = stations_df['location'][i]['latitude']
    
stations_df = stations_df.rename(columns={'id': 'station_id'})
stations_df

,device_id,station_id,location,name,longitude,latitude
0,S109,S109,"{'latitude': 1.3764, 'longitude': 103.8492}",Ang Mo Kio Avenue 5,103.849,1.3764
1,S117,S117,"{'latitude': 1.256, 'longitude': 103.679}",Banyan Road,103.679,1.256
2,S50,S50,"{'latitude': 1.3337, 'longitude': 103.7768}",Clementi Road,103.777,1.3337
3,S107,S107,"{'latitude': 1.3135, 'longitude': 103.9625}",East Coast Parkway,103.963,1.3135
4,S43,S43,"{'latitude': 1.3399, 'longitude': 103.8878}",Kim Chuan Road,103.888,1.3399
5,S108,S108,"{'latitude': 1.2799, 'longitude': 103.8703}",Marina Gardens Drive,103.87,1.2799
6,S121,S121,"{'latitude': 1.37288, 'longitude': 103.72244}",Old Choa Chu Kang Road,103.722,1.37288
7,S102,S102,"{'latitude': 1.189, 'longitude': 103.768}",Semakau Landfill,103.768,1.189
8,S115,S115,"{'latitude': 1.29377, 'longitude': 103.61843}",Tuas South Avenue 3,103.618,1.29377
9,S24,S24,"{'latitude': 1.3678, 'longitude': 103.9826}",Upper Changi Road North,103.983,1.3678
10,S116,S116,"{'latitude': 1.281, 'longitude': 103.754}",West Coast Highway,103.754,1.281
11,S104,S104,"{'latitude': 1.44387, 'longitude': 103.78538}",Woodlands Avenue 9,103.785,1.44387
12,S100,S100,"{'latitude': 1.4172, 'longitude': 103.74855}",Woodlands Road,103.749,1.4172

In [46]:
# Union of wind-speed and station data
outer_df = pd.merge(humidity_df, stations_df, how='outer', on=['station_id'])
outer_df.head(15)

# drop duplicating info columns
outer_humidity_df = outer_df.drop(['location','device_id'], axis=1)
outer_humidity_df.head(15)

,station_id,relative-humidity,timestamp (SGT),name,longitude,latitude
0,S109,78.0,2017-05-24 00:00:00,Ang Mo Kio Avenue 5,103.849,1.3764
1,S109,78.2,2017-05-24 00:05:00,Ang Mo Kio Avenue 5,103.849,1.3764
2,S109,77.7,2017-05-24 00:10:00,Ang Mo Kio Avenue 5,103.849,1.3764
3,S109,78.1,2017-05-24 00:15:00,Ang Mo Kio Avenue 5,103.849,1.3764
4,S109,78.2,2017-05-24 00:20:00,Ang Mo Kio Avenue 5,103.849,1.3764
5,S109,78.3,2017-05-24 00:25:00,Ang Mo Kio Avenue 5,103.849,1.3764
6,S109,78.3,2017-05-24 00:30:00,Ang Mo Kio Avenue 5,103.849,1.3764
7,S109,78.4,2017-05-24 00:35:00,Ang Mo Kio Avenue 5,103.849,1.3764
8,S109,78.7,2017-05-24 00:40:00,Ang Mo Kio Avenue 5,103.849,1.3764
9,S109,78.7,2017-05-24 00:45:00,Ang Mo Kio Avenue 5,103.849,1.3764
10,S109,78.9,2017-05-24 00:50:00,Ang Mo Kio Avenue 5,103.849,1.3764
11,S109,79.2,2017-05-24 00:55:00,Ang Mo Kio Avenue 5,103.849,1.3764
12,S109,79.4,2017-05-24 01:00:00,Ang Mo Kio Avenue 5,103.849,1.3764
13,S109,79.5,2017-05-24 01:05:00,Ang Mo Kio Avenue 5,103.849,1.3764
14,S109,79.6,2017-05-24 01:10:00,Ang Mo Kio Avenue 5,103.849,1.3764

In [66]:
filename = 'humidity_{}.csv'.format(date)
filename

outer_humidity_df.to_csv(filename, index = False)

## Merge wind-speed, rainfall, temperature & humidity DataFrames

In [57]:
outer_df = ""
# Union of data
outer_df = pd.merge(outer_wind_speed_df, outer_rainfall_df, how='outer', on=['station_id', 'timestamp (SGT)', 'name', 'longitude', 'latitude'])
outer_df = pd.merge(outer_df, outer_temperature_df, how='outer', on=['station_id', 'timestamp (SGT)'])
outer_df = pd.merge(outer_df, outer_humidity_df, how='outer', on=['station_id', 'timestamp (SGT)'])

# drop duplicating info columns
outer_df = outer_df.filter(['timestamp (SGT)','station_id', 'name','longitude','latitude','wind-speed','rainfall','air-temperature','relative-humidity'], axis=1)

outer_df

,timestamp (SGT),station_id,name,longitude,latitude,wind-speed,rainfall,air-temperature,relative-humidity
0,2017-05-24 00:00:00,S109,Ang Mo Kio Avenue 5,103.849,1.3764,5.3,NaN,29.3,78.0
1,2017-05-24 00:05:00,S109,Ang Mo Kio Avenue 5,103.849,1.3764,4.1,NaN,29.3,78.2
2,2017-05-24 00:10:00,S109,Ang Mo Kio Avenue 5,103.849,1.3764,4.7,NaN,29.3,77.7
3,2017-05-24 00:15:00,S109,Ang Mo Kio Avenue 5,103.849,1.3764,6.0,NaN,29.3,78.1
4,2017-05-24 00:15:00,S109,Ang Mo Kio Avenue 5,103.849,1.3764,NaN,0.0,29.3,78.1
5,2017-05-24 00:20:00,S109,Ang Mo Kio Avenue 5,103.849,1.3764,9.3,NaN,29.3,78.2
6,2017-05-24 00:20:00,S109,Ang Mo Kio Avenue 5,103.849,1.3764,NaN,0.0,29.3,78.2
7,2017-05-24 00:25:00,S109,Ang Mo Kio Avenue 5,103.849,1.3764,6.4,NaN,29.3,78.3
8,2017-05-24 00:25:00,S109,Ang Mo Kio Avenue 5,103.849,1.3764,NaN,0.0,29.3,78.3
9,2017-05-24 00:30:00,S109,Ang Mo Kio Avenue 5,103.849,1.3764,2.9,NaN,29.3,78.3
10,2017-05-24 00:30:00,S109,Ang Mo Kio Avenue 5,103.849,1.3764,NaN,0.0,29.3,78.3
11,2017-05-24 00:35:00,S109,Ang Mo Kio Avenue 5,103.849,1.3764,4.7,NaN,29.3,78.4
12,2017-05-24 00:35:00,S109,Ang Mo Kio Avenue 5,103.849,1.3764,NaN,0.0,29.3,78.4
13,2017-05-24 00:40:00,S109,Ang Mo Kio Avenue 5,103.849,1.3764,3.1,NaN,29.3,78.7
14,2017-05-24 00:40:00,S109,Ang Mo Kio Avenue 5,103.849,1.3764,NaN,0.0,29.3,78.7
15,2017-05-24 00:45:00,S109,Ang Mo Kio Avenue 5,103.849,1.3764,7.2,NaN,29.3,78.7
16,2017-05-24 00:45:00,S109,Ang Mo Kio Avenue 5,103.849,1.3764,NaN,0.0,29.3,78.7
17,2017-05-24 00:50:00,S109,Ang Mo Kio Avenue 5,103.849,1.3764,10.7,NaN,29.3,78.9
18,2017-05-24 00:50:00,S109,Ang Mo Kio Avenue 5,103.849,1.3764,NaN,0.0,29.3,78.9
19,2017-05-24 00:55:00,S109,Ang Mo Kio Avenue 5,103.849,1.3764,5.8,NaN,29.3,79.2
20,2017-05-24 01:00:00,S109,Ang Mo Kio Avenue 5,103.849,1.3764,4.5,NaN,29.2,79.4
21,2017-05-24 01:05:00,S109,Ang Mo Kio Avenue 5,103.849,1.3764,7.2,NaN,29.3,79.5
22,2017-05-24 01:10:00,S109,Ang Mo Kio Avenue 5,103.849,1.3764,7.4,NaN,29.2,79.6
23,2017-05-24 01:15:00,S109,Ang Mo Kio Avenue 5,103.849,1.3764,4.5,NaN,29.2,80.0
24,2017-05-24 01:15:00,S109,Ang Mo Kio Avenue 5,103.849,1.3764,NaN,0.0,29.2,80.0
25,2017-05-24 01:20:00,S109,Ang Mo Kio Avenue 5,103.849,1.3764,2.1,NaN,29.2,79.9
26,2017-05-24 01:20:00,S109,Ang Mo Kio Avenue 5,103.849,1.3764,NaN,0.0,29.2,79.9
27,2017-05-24 01:25:00,S109,Ang Mo Kio Avenue 5,103.849,1.3764,4.7,NaN,29.2,80.0
28,2017-05-24 01:25:00,S109,Ang Mo Kio Avenue 5,103.849,1.3764,NaN,0.0,29.2,80.0
29,2017-05-24 01:30:00,S109,Ang Mo Kio Avenue 5,103.849,1.3764,3.9,NaN,29.2,79.9
...,...,...,...,...,...,...,...,...,...
13732,2017-05-24 17:10:00,S106,NaN,NaN,NaN,NaN,0.0,NaN,NaN
13733,2017-05-24 01:35:00,S108,Marina Gardens Drive,103.87,1.2799,NaN,NaN,29.3,84.0
13734,2017-05-24 01:40:00,S108,Marina Gardens Drive,103.87,1.2799,NaN,NaN,29.2,83.5
13735,2017-05-24 16:45:00,S108,Marina Gardens Drive,103.87,1.2799,NaN,NaN,25.9,94.4
13736,2017-05-24 16:50:00,S108,Marina Gardens Drive,103.87,1.2799,NaN,NaN,25.9,94.6
13737,2017-05-24 00:20:00,S121,Old Choa Chu Kang Road,103.722,1.37288,NaN,NaN,28.7,82.9
13738,2017-05-24 00:25:00,S121,Old Choa Chu Kang Road,103.722,1.37288,NaN,NaN,28.7,82.9
13739,2017-05-24 00:30:00,S121,Old Choa Chu Kang Road,103.722,1.37288,NaN,NaN,28.7,82.9
13740,2017-05-24 00:35:00,S121,Old Choa Chu Kang Road,103.722,1.37288,NaN,NaN,28.6,83.3
13741,2017-05-24 03:00:00,S121,Old Choa Chu Kang Road,103.722,1.37288,NaN,NaN,28.6,83.6
13742,2017-05-24 03:05:00,S121,Old Choa Chu Kang Road,103.722,1.37288,NaN,NaN,28.6,83.7
13743,2017-05-24 03:10:00,S121,Old Choa Chu Kang Road,103.722,1.37288,NaN,NaN,28.6,83.6
13744,2017-05-24 03:15:00,S121,Old Choa Chu Kang Road,103.722,1.37288,NaN,NaN,28.6,83.8
13745,2017-05-24 03:20:00,S121,Old Choa Chu Kang Road,103.722,1.37288,NaN,NaN,28.6,83.7
13746,2017-05-24 03:25:00,S121,Old Choa Chu Kang Road,103.722,1.37288,NaN,NaN,28.7,83.6
13747,2017-05-24 03:45:00,S121,Old Choa Chu Kang Road,103.722,1.37288,NaN,NaN,28.6,84.5
13748,2017-05-24 03:50:00,S121,Old Choa Chu Kang Road,103.722,1.37288,NaN,NaN,28.6,84.6
13749,2017-05-24 04:20:00,S121,Old Choa Chu Kang Road,103.722,1.37288,NaN,NaN,28.7,83.5
13750,2017-05-24 04:25:00,S121,Old Choa Chu Kang Road,103.722,1.37288,NaN,NaN,28.7,83.4
13751,2017-05-24 07:15:00,S121,Old Choa Chu Kang Road,103.722,1.37288,NaN,NaN,28.2,85.1
13752,2017-05-24 08:15:00,S121,Old Choa Chu Kang Road,103.722,1.37288,NaN,NaN,28.1,85.2
13753,2017-05-24 08:50:00,S121,Old Choa Chu Kang Road,103.722,1.37288,NaN,NaN,23.9,98.4
13754,2017-05-24 08:55:00,S121,Old Choa Chu Kang Road,103.722,1.37288,NaN,NaN,23.8,98.6
13755,2017-05-24 09:00:00,S121,Old Choa Chu Kang Road,103.722,1.37288,NaN,NaN,23.7,98.8
13756,2017-05-24 09:05:00,S121,Old Choa Chu Kang Road,103.722,1.37288,NaN,NaN,23.8,99.0
13757,2017-05-24 09:25:00,S121,Old Choa Chu Kang Road,103.722,1.37288,NaN,NaN,23.9,99.2
13758,2017-05-24 21:35:00,S121,Old Choa Chu Kang Road,103.722,1.37288,NaN,NaN,25.7,94.6
13759,2017-05-24 22:40:00,S121,Old Choa Chu Kang Road,103.722,1.37288,NaN,NaN,25.9,93.6
13760,2017-05-24 22:45:00,S121,Old Choa Chu Kang Road,103.722,1.37288,NaN,NaN,25.9,93.7
13761,2017-05-24 22:50:00,S121,Old Choa Chu Kang Road,103.722,1.37288,NaN,NaN,25.7,94.3

In [58]:
outer_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13762 entries, 0 to 13761
Data columns (total 9 columns):
timestamp (SGT)      13762 non-null datetime64[ns]
station_id           13762 non-null object
name                 3770 non-null object
longitude            3770 non-null object
latitude             3770 non-null object
wind-speed           3660 non-null float64
rainfall             13196 non-null float64
air-temperature      4435 non-null float64
relative-humidity    3946 non-null float64
dtypes: datetime64[ns](1), float64(4), object(4)
memory usage: 1.0+ MB

In [59]:
outer_df.groupby('name').describe()

                        air-temperature                                   \
                                  count       mean       std   min   25%
name
Ang Mo Kio Avenue 5               448.0  26.684152  1.751559  23.5  25.4
Banyan Road                       289.0  26.732872  1.582563  24.1  25.5
Clementi Road                     289.0  26.049827  1.741410  23.2  25.0
East Coast Parkway                268.0  27.587313  1.819142  24.4  26.2
Kim Chuan Road                    289.0  27.175779  1.905612  24.1  25.9
Marina Gardens Drive              289.0  26.976125  1.918265  24.0  25.5
Old Choa Chu Kang Road            289.0  26.238754  1.704595  23.2  24.8
Semakau Landfill                  284.0  27.398239  1.560544  25.1  25.9
Tuas South Avenue 3               289.0  26.613149  1.823201  23.8  25.0
Upper Changi Road North           289.0  26.726644  1.824967  24.0  25.3
West Coast Highway                270.0  27.326296  1.804582  24.7  26.0
Woodlands Avenue 9                189.0  27.375661  1.274020  25.5  26.1
Woodlands Road                    288.0  26.634375  1.631281  23.7  25.4

                                          rainfall            ...   \
                          50%   75%   max    count      mean  ...
name                                                          ...
Ang Mo Kio Avenue 5      25.8  28.8  29.5    180.0  0.045556  ...
Banyan Road              26.3  28.6  29.2    289.0  0.116263  ...
Clementi Road            25.5  27.9  28.9    289.0  0.143945  ...
East Coast Parkway       27.5  29.4  29.9    263.0  0.061597  ...
Kim Chuan Road           26.3  29.4  30.3    286.0  0.080420  ...
Marina Gardens Drive     26.1  29.1  30.1    285.0  0.107368  ...
Old Choa Chu Kang Road   25.8  28.1  29.0    264.0  0.200758  ...
Semakau Landfill         27.0  29.2  29.5    258.0  0.072868  ...
Tuas South Avenue 3      26.1  28.8  29.5    289.0  0.102422  ...
Upper Changi Road North  25.8  28.7  29.7    229.0  0.034061  ...
West Coast Highway       26.4  29.4  29.8    270.0  0.035556  ...
Woodlands Avenue 9       27.7  28.7  29.2    175.0  0.001143  ...
Woodlands Road           26.1  28.2  29.3    209.0  0.150239  ...

                        relative-humidity        wind-speed             \
                                      75%    max      count       mean
name
Ang Mo Kio Avenue 5                96.000  100.8      268.0   4.758955
Banyan Road                        92.700   98.2      289.0   6.411764
Clementi Road                      96.200   99.3      289.0   5.933218
East Coast Parkway                 94.025  100.8      268.0   7.429477
Kim Chuan Road                     93.400   97.8      289.0   4.515917
Marina Gardens Drive               94.900   97.9        0.0        NaN
Old Choa Chu Kang Road             97.800   99.2        0.0        NaN
Semakau Landfill                   94.600  100.9      284.0  10.772183
Tuas South Avenue 3                92.300   93.1      289.0   3.435640
Upper Changi Road North            93.900   96.4      289.0   6.128373
West Coast Highway                 97.900  100.9      270.0   6.276296
Woodlands Avenue 9                100.000  101.0      189.0   4.632804
Woodlands Road                     95.600   97.7      288.0   2.717361


                              std  min   25%  50%    75%   max
name
Ang Mo Kio Avenue 5      2.751825  0.6  2.70  4.5   6.20  15.7
Banyan Road              3.346100  0.4  3.90  6.2   8.50  16.5
Clementi Road            3.711479  0.6  2.90  5.6   7.80  21.6
East Coast Parkway       3.005486  1.4  5.10  7.8   9.35  20.2
Kim Chuan Road           2.546394  0.6  2.50  4.5   6.00  16.9
Marina Gardens Drive          NaN  NaN   NaN  NaN    NaN   NaN
Old Choa Chu Kang Road        NaN  NaN   NaN  NaN    NaN   NaN
Semakau Landfill         4.551849  3.1  8.15  9.5  12.10  25.7
Tuas South Avenue 3      2.848040  0.4  1.70  2.7   4.10  17.7
Upper Changi Road North  2.876525  0.6  4.10  6.6   8.20  15.2
West Coast Highway       3.810945  0.8  3.90  5.7   7.80  28.2
Woodlands Avenue 9       2.822569  0.6  2.90  4.1   5.60  19.2
Woodlands Road           2.144885  0.4  1.40  2.1   3.30  14.6

[13 rows x 32 columns]

In [60]:
outer_df.to_csv('output.csv', index = False)